# Trading mode set by you through Alpaca
TRADING_MODE=

# Alpaca API using Paper Trading
ALPACA_API_KEY_PAPER=
ALPACA_SECRET_KEY_PAPER=
ALPACA_BASE_URL_PAPER=https://paper-api.alpaca.markets

# Alpaca API using Live Trading
ALPACA_API_KEY_LIVE=
ALPACA_SECRET_KEY_LIVE=
ALPACA_BASE_URL_LIVE=https://paper-api.alpaca.markets

# Discord webhooks
DISCORD_CRITICAL_HOOK=
DISCORD_TRADES_HOOK=
DISCORD_ROUTINE_HOOK=
# (add your other Discord hook names here)

# Azure SQL Database
DB_SERVER=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Financial Modeling Prep for screener
FMP_API_KEY=