# Alpaca API using Paper Trading
ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_BASE_URL=https://paper-api.alpaca.markets

# Discord webhooks
DISCORD_CRITICAL_HOOK=
DISCORD_TRADES_HOOK=
DISCORD_ROUTINE_HOOK=
# (add your other Discord hook names here)

# Azure SQL Database
DB_SERVER=
DB_NAME=
DB_USER=
DB_PASSWORD=